*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

.wrapper {
    display: grid;
    gap: 5px;
    grid-template-rows: 250px minmax(500px, 5fr);
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;

    min-width: 1300px;
}

.wrapper > *,
.header-row1 > * {
    background-color: rgb(233, 199, 126);
}

.sidebar {
    padding: 20px 20px;
    font-size: 2em;

    grid-row: 1 / -1;
    row-gap: 80px;
    column-gap: 20px;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: min-content;
}

.sidebar > *,
.header-row1> *,
.header-row2 > *,
.card,
.ann-card,
.trend-card {
    background-color: rgb(241, 229, 201);
}

.sidebar-main, .sidebar-additional, .dashboard {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

}

.sidebar-text, .sidebar-logo {
    display: grid;
    align-items: center;
}

.dashboard {
    font-size: 40px;
}

.header {
    display: grid;
    padding: 20px 3%;
}

.header-row1 {
    display: grid;
    grid-template-columns: 50px minmax(300px, 4fr) 50px 70px minmax(max-content, 1fr);
    grid-template-rows: min-content;
    align-items: center;
    column-gap: 18px;
}

.header-row1 > input {
    appearance: none;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    border:none;
    
    background-color: rgb(247, 247, 247);
    font-size: 1.5em;
    padding: 8px 12px;
}

.header-row1> span {
    font-size: 2em;
    font-weight: 900;
    justify-self: end;
}

input[type="search"]:focus {
    outline: 2px solid rgb(180, 117, 0);
}

.header-row2 {
    display: grid;
    grid-template-columns: 100px minmax(500px, 6fr) repeat(3, minmax(100px, 200px));
    align-items: center;
    column-gap: 18px;
}

button {
    border-radius: 40px;
    height: 50px;
    width: 100%;
    justify-self: center;
    border: none;
    font-size: 1.5em;
    font-weight: 900;
}

.header,
.header-row1,
.header-row2 {
    min-width: 0;
}

.hi-there div:first-child {
    font-size: 1.1em;
}

.hi-there div:first-child + div {
    font-size: 2em;
    font-weight: 900;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    gap: 30px;
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 30px;
}

h2 {
    margin-bottom: 14px;
}

.icons {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    justify-content: end;
    padding-top: 40px;
}

.card,
.ann-card,
.trend-card {
    border-radius: 10px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3em;
}

hr {
    border: 1px solid rgb(255, 255, 255);
    margin: 24px 0;
}

.ann-card {
    padding: 20px;
}

.trend-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    align-items: center;

    padding: 0px 50px;
}

.trend-card > img {
    min-width: 100px;
}

.right-column {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
}

.trend-wrap {
    display: grid;
    grid-template-rows: auto 1fr;
}

