*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
}


:root {
    --dark-color: #8A897C; /*#bdbbb0*/

    --primary-color: #CDDDDD;
    --secondary-color: #ACBDBA;
    --accent-color: #A599B5;
    --white-color: #fefdff;
    --black-color: #2E2F2F;

}

*:not(dialog) {
    margin: 0;
}

.sidebar-logo {
    stroke: white;
}

.sidebar,
button {
    color: var(--white-color);
    fill: var(--white-color);
    font-weight: 700;
}

.wrapper {
    display: grid;
    grid-template-rows: auto minmax(500px, 5fr);
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;

    min-width: 1350px;
}

.sidebar {
    padding: 20px 30px;
    font-size: 2em;

    grid-row: 1 / -1;
    row-gap: 80px;
    column-gap: 20px;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: min-content;
    background-color: var(--secondary-color);
}

.card,
.ann-card,
.trend-card {
    background-color: var(--white-color);
}

.sidebar-main, .sidebar-additional, .dashboard {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    row-gap: 18px;

}

.sidebar-text, .sidebar-logo {
    display: grid;
    align-items: center;
}

.dashboard {
    font-size: 40px;
}

.header {
    display: grid;
    padding: 20px 3%;
    background-color: var(--white-color);
    z-index: 1;
    grid-template-rows: 1fr 1fr;
}

.header-row1 {
    display: grid;
    grid-template-columns: 50px minmax(300px, 4fr) 30px 100px minmax(max-content, 1fr);
    align-items: center;
    column-gap: 18px;
}

.header-row1 > input {
    appearance: none;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    border:none;
    
    background-color: rgb(247, 247, 247);
    font-size: 1.5em;
    padding: 8px 12px;
}

.header-row1> span {
    font-size: 2em;
    font-weight: 900;
    justify-self: center;
}

input[type="search"]:focus {
    outline: 2px solid rgb(180, 117, 0);
}

.header-row2 {
    display: grid;
    grid-template-columns: 120px minmax(500px, 6fr) repeat(3, minmax(100px, 200px));
    align-items: center;
    column-gap: 18px;
}

button {
    border-radius: 40px;
    height: 50px;
    width: 100%;
    justify-self: center;
    border: none;
    font-size: 1.5em;
    background-color: var(--accent-color);
}

.header,
.header-row1,
.header-row2 {
    min-width: 0;
}

.hi-there div:first-child {
    font-size: 1.1em;
}

.hi-there div:first-child + div {
    font-size: 2em;
    font-weight: 900;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px;
    gap: 30px;

    background-color: var(--primary-color);
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 30px;
}

h2 {
    margin-bottom: 14px;
}

.icons {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    justify-content: end;
    padding-top: 40px;
}

.card,
.ann-card,
.trend-card {
    border-radius: 10px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3em;
    border-left: 10px solid var(--accent-color);
    display: grid;
}

.icons {
    align-self: end;
    display: grid;
    column-gap: 10px;
}

hr {
    border: 1px solid rgb(255, 255, 255);
    margin: 24px 0;
}

.ann-card {
    padding: 20px;
}

.trend-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 8px;
    align-items: center;

    padding: 10px 40px;
}

.trend-card > img {
    height: 70px;
    width: 70px;
    border-radius: 60px;
}

.right-column {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
}

/* .trend-wrap {
    display: grid;
    grid-template-rows: auto 1fr;
} */

.card,
.ann-card,
.trend-card,
.header {
    -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.18);
}

img {
    font-size: small;
}

.profile-pic {
    height: 100px;
    width: 100px;
    justify-self: center;
    border-radius: 50px;
}

.header-row2 img {
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.icons > svg {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.icons>svg:hover {
    transform: translateY(-4px);
}

button:hover {
    -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.18);
}

.sidebar-main .sidebar-text:hover,
.sidebar-additional .sidebar-text:hover {
    color: var(--primary-color);
}