*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

.wrapper {
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr minmax(500px, 5fr);
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.wrapper > * {
    background-color: rgb(233, 199, 126);
}

.sidebar {
    padding: 20px 50px;
    font-size: 2em;

    grid-row: 1 / -1;
    row-gap: 80px;
    column-gap: 20px;

    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: min-content;
}

.sidebar> * {
    background-color: rgb(241, 229, 201);
}

.sidebar-main, .sidebar-additional, .dashboard {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;

}

.sidebar-text, .sidebar-logo {
    display: grid;
    align-items: center;
}

.dashboard {
    font-size: 50px;
}